<!DOCTYPE html>
<html>
<head>
    <title>Temperature Data Table</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        table th, table td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Temperature Data Table</h1>
    <table>
        <thead>
            <tr>  
                <th>Day</th>
                <th>Month</th>
                <th>Year</th>
                <th>Week</th>
                <th>SST</th>
            </tr>
        </thead>
        <tbody>
            {% for row in temperature_data %}
            <tr>
                <td>{{ row.day }}</td>
                <td>{{ row.month }}</td>
                <td>{{ row.year}}</td>
                <td>{{ row.week }}</td>
                <td>{{ row.SST }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
